body {
	font-style: sans-serif !important;
}

.header{
  background-color: blue;
  padding: 10px;
  height: 50px
}

.ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.articles {
 margin: 40px 15% !important;
}

.card {
  height: 170px !important;
  margin: 50px 30px !important;
  padding: 0 !important;
}
